* {
  margin: 0;
  padding: 0;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 24px 18px;
}

.main-title {
  font-weight: bold;
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.recentiscore-header {
  display: flex;
  column-gap: 12px;
  font-weight: bold;
  margin-top: 24px;
}

button {
  padding: 3px;
  border-left: 2px solid #333;
  border-right: 5px solid #333;
  border-top: 2px solid #333;
  border-bottom: 5px solid #333;
  cursor: pointer;
}

.score-table {
  border: 3px #333 solid;
  width: 100%;
  margin-top: 18px;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #000;
}

td {
  padding: 5px;
  font-weight: bold;
}

.add-score h2 {
  text-align: center;
  margin-top: 24px;
}

.form-add-score {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 24px;
}

input {
  width: 90%;
  padding: 5px;
  font-weight: bold;
  border: #333 solid 3px;
}

input::placeholder {
  color: #000;
}
