* {
  margin: 0;
  padding: 0;
}

main {
  width: 65%;
  margin: 24px auto;
  padding: 24px 18px;
  box-sizing: border-box;
  min-height: 80vh;
}

.main-title {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #1c6ea4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.recentiscore-header {
  display: flex;
  column-gap: 12px;
  font-weight: bold;
  margin-top: 24px;
}

button {
  padding: 3px;
  border: none;
  outline: none;
  margin: 3px;
  border-radius: 10px;
  color: #fff;
  background-color: #1c6ea4;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 35px;
}

.table-container {
  border: 3px #333 solid;
  width: 100%;
  margin-top: 18px;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #b9b8b8;
  color: #000;
}

td {
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.add-score h2 {
  text-align: center;
  margin-top: 24px;
}

.form-add-score {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 24px;
}

input {
  width: 80%;
  padding: 5px;
  font-weight: bold;
  border: #333 solid 3px;
}

input::placeholder {
  color: #000;
}

footer {
  text-align: center;
  border-top: 5px solid #1c6ea4;
  padding: 10px;
}
