* {
  margin: 0;
  padding: 0;
}
header {
  padding: 10px;
  background-color: #1c6ea4;
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 36px;
}

main {
  width: 85%;
  margin: 24px auto;
  padding: 24px 18px;
  box-sizing: border-box;
  min-height: 80vh;
  border: 2px solid #1c6ea4;
}

.main-title {
  display: none;
}
.logo {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-weight: 600;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

section {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  /* grid-template-columns: 1.5fr 1fr;
  column-gap: 24px; */
}

.recent-score {
  flex: 1.5;
}
.add-score {
  flex: 1;
}

.recentiscore-header {
  display: flex;
  column-gap: 12px;
  font-weight: bold;
  margin-top: 24px;
}

button {
  padding: 3px;
  border: none;
  outline: none;
  margin: 3px;
  border-radius: 10px;
  color: #fff;
  background-color: #1c6ea4;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 35px;
}
button:hover {
  transform: scale(1.1);
}
.table-container {
  border: 1px #333 solid;
  width: 100%;
  margin-top: 18px;
}

.table-body tr:nth-child(odd) {
  background-color: #fff;

  padding: 8px;
}

.table-body tr:nth-child(even) {
  background-color: #b9b8b8;
  color: #000;
}
.table-header tr {
  background-color: #1c6ea4;
  height: 45px;
  color: #fff;
}

.table-body tr:hover {
  transform: scale(0.98);
}

td,
th {
  padding: 8px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  width: 50%;
}

.add-score h2 {
  text-align: center;
  margin-top: 24px;
  color: #000;
}

.result-container {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  justify-content: space-between;
  display: none;
}

#close-result {
  background-color: #d4edda;
  border: 1px solid #ffffff;
  width: 18px;
  cursor: pointer;
  height: 18px;
  font-style: italic;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-add-score {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 18px;
}

input {
  width: 80%;
  padding: 10px;
  font-weight: bold;
  border: #a39999 solid 1px;
  outline: none;
  border-radius: 18px;
}
input:focus {
  border: #202020 solid 3px;
}

footer {
  text-align: center;
  border-top: 5px solid #1c6ea4;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .main-title {
    display: block;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  section {
    flex-direction: row;
  }
}
